section,header{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid #12b152;
}
header{
    text-align: center;
}
section{
    padding: 10px;
}
/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}